.header-img {
    height: 500px;
    object-fit: cover;
    width: 100%;
}
.section-title {
    margin-bottom: 30px;
}
.content-img {
    max-height: 400px;
    object-fit: cover;
    width: 100%;
}
.content-section {
    padding: 50px 0;
}